.headerDiv {
  padding-left: 400px;
  font-size: 50px;

}
.p1{
  padding-left: 100PX;
}
header{
  background-color:rgb(201, 226, 240);
  border-top: 10px solid;
  border-color:rgb(145, 144, 70);
}

nav {
  background-color: rgb(50, 123, 168);
  padding-left: 350px;
  padding-top: 20px;
  position: sticky;
  height: 80px;
  top: 0;
  z-index: 2;

}
.navItem {
  padding: 40px;
  position: relative;
  color: black;
  text-align: center;
  display: inline;
  text-decoration-line: none;
}

.dropbtn {
  background-color: rgb(50, 123, 168);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.navItem:hover{
  border-bottom: solid;
}

ul {
  list-style-type: none;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}
.swipeImg {
  margin-top: 20px;
  width: 100%;
}
.btn-container {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}
.indicator-container {
  display: flex;
  justify-content: space-around;
  width: 20%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.indicator {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
}
.active-indicator {
  background-color: lawngreen;
}

.link-container{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;

}

.link-btn{
  width: 125px;
  height: 60px;
  margin: 20px;
  transition: transform 1s;
}

.link-btn:hover{
  transform: rotate(-20deg);
  background-color:gradient;
  box-sh10dow: 2px 2px lightgrey;
}

.articleHead{
  margin-left: auto;
  margin-right: auto;
  width: 8em
  text-align: center;
}
table{
  margin-left: auto;
  margin-right: auto;
  width: 8em

}
.header-th{

}
input{
  border-left: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid;
  border-bottom: 5px solid;
  border-color: rgb(50, 123, 168);
  display: block;
  background-color: rgb(201, 226, 240);
}
fieldset{

  border-left: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid;
  border-bottom: 5px solid;
  border-color: rgb(50, 123, 168);
  background-color:rgb(201, 226, 240);

}
legend{

  border-left: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid;
  border-bottom: 5px solid;
  border-color: rgb(50, 123, 168);
  background-color: white;

}

select{
  border-left: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid;
  border-bottom: 5px solid;
  border-color: rgb(50, 123, 168);
  background-color:rgb(201, 226, 240);
}
textarea{
  border-left: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid;
  border-bottom: 5px solid;
  border-color: rgb(50, 123, 168);
  background-color:rgb(201, 226, 240);
}
.text{
  width: 800px;
  height: 40px;
}
form{
  padding-top: 20px;
}

th{
  text-align: center;
  color: rgb(50, 123, 168);
}

.header-th{
  
  background-color: rgb(201, 226, 240);

}

.signUp-btn{
  border-left: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: rgb(50, 123, 168);
}
#yesBtn{
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
#yesBtn:hover{
  background-color: rgb(50, 123, 168);
  color: white;
}
#noBtn{
  background-color: rgb(235, 148, 162);
  float: right;
  margin-right: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#noBtn:hover{
  background-color: red;
  color: white;
}
.signin-container{
  margin-left: auto;
  margin-right: auto;
  width: 8em
}
.signinBtn{
  border-left: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: rgb(50, 123, 168);

}
.signinBtn:hover{
  background-color: rgb(50, 123, 168);
  color: white;

}
a:hover{
  color: rgb(145, 144, 70);

}
a{
  text-decoration-line: none;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
    border: 2px solid yellow;

}  

.flex-nav{
    margin-right: 20px;

}

.grid-container{
  display: grid;
  width: 70%;
  grid-template-columns: auto auto;
  grid-gap: 10px;
} 
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(50, 123, 168);
  color: white;
  text-align: center;
  columns: 3;
   border-top: 10px solid;
  border-color:rgb(145, 144, 70);
}
